<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">
    <title>Login</title>
    <style>
        /* Bordered form */
        form {
            border: 3px solid #fdcaf6;
            max-width: 300px;
            margin: 0 auto;
            padding: 20px;
        }

        /* Full-width inputs */
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid white;
            box-sizing: border-box;
        }

        /* Set a style for the login button */
        button {

            background-color: rgb(197, 8, 197);
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            max-width: 160px;
        }

        /* Add a hover effect for buttons */
        button:hover {
            opacity: 0.8;
        }

        /* Center the avatar image inside this container
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        } */

        /* Avatar image
        img.avatar {
            width: 40%;
            border-radius: 50%;
        } */

        /* Add padding to containers */
        .container {
            margin: auto;
            width: 50%;
            display: flex;
            padding: 16px;
            justify-content: center;
            flex-direction: column;
            /* border:2px solid black; */
            align-items: center;
            box-sizing: border-box;
        }

        /* The "Forgot password" text */
        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>

<body>
    <div class="container ">
        <h1 class="font-bold text-2xl">Login</h1>
        <form action="http://localhost:3000/home/login" method="post" class="flex flex-col rounded-lg  bg-fuchsia-100">
            <label for="uname" class="font-bold">Username</label>
            <input type="text" placeholder="Enter Username" name="uname" required class="rounded-lg">

            <label for="psw" class="font-bold">Password</label>
            <input type="password" placeholder="Enter Password" name="psw" required class="rounded-lg">

            <button type="submit" class="rounded-lg self-center">Login</button>

            <div class="messs font-bold text-red-500">
                <%= render %>
            </div>
        </form>
        <button class="message rounded-lg"><a href="http://localhost:3000/home/signup" target="_blank">Create Account</a>
        </button>
    </div>
    <script>
        let inp = document.querySelector('input')
        let f = document.querySelector('.messs')
        if(f.innerText){

            inp.addEventListener("keypress", () => {
    
                f.innerText = ""
            })
        }
    </script>
</body>

</html>