<% for( let index=0; index < array.length; index++ ) { %>
    <div class="user" id=<%=array[index] %>>
        <a href="http://localhost:3000/home/messageboxq=">
                <%= array[index] %>
        </a>
    </div>
    <% } %>