* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.writing {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    /* background-color: rgb(73, 90, 90); */
    /* position: sticky;
    bottom: 20px; */
    height: 40px;
    min-height: 30px;
    align-items: center;
}

.chatbox {
    height: 89vh;
    border: 2px solid black;
    margin: 2px;
    background-color: rgb(245, 238, 229);
   
    overflow-y: scroll;
    
    

}


.mess {
    border: 2px solid black;
    height: 70px;
    min-height: 50px;
    font-size:1.5em;
    padding: 5px;
    margin-top: 23px;

   
}
span{
    /* border: 2px solid black; */
    background-color: aqua;
    

}
.user{
    border: 2px solid black;
}
.writing{
    display: flex;
    flex-wrap: wrap;
}
.writing input{
    max-width: 90vw;
    width: 80vw;
    height: 40px;
    min-height: 40px;
}
.writing button{
    min-height: 40px;
    min-width: 10vh;
}